<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>consultorios Médicos Especializados</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link">Hola <span>Chiquis</span></a>
      </nav>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>Estudios de gabinete</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/mi/sales">Ventas</a>
      <a class="mdl-navigation__link" routerLink="/mi/sales">Reporte de ventas</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </mdl-layout-content>
</mdl-layout>
<!-- <nav class="navbar navbar-default navbar-fixed nav-first">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="./assets/images/logo.png" alt="Logo"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            HOLA
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->
