.selected_mi {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}

.selected_mi>table {
  font-size: 1.2em;
}

.selected_mi table {
  width: 100%;
}

.enhaced_price {
  font-size: 1.2em;
  color: #438bca;
  font-weight: bold;
}

.sale-container {
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #438bca;
  margin: 20px auto;
}

.sale {
  padding: 30px;
}

.remove {
  background-color: #125996;
  color: white;
  cursor: pointer;
}


/*.payment {
  width: 40%;
  margin: 25px auto;
  border: 1px solid #125996;
  text-align: center;
  border-radius: 10px;
  background-color: #EDF8FA;
}

.payment-info {
  padding: 20px;
}

.amount {
  width: 100px !important;
}

.sale-enhace {
  font-size: 1.3em;
  color: #125996;
  font-weight: bold;
}

.change{
  color: blue;
}*/
