<div *ngIf="roles.mi">
  <mdl-layout-title class="title">Estudios de gabinete</mdl-layout-title>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" routerLink="/mi/sales">Ventas</a>
    <a class="mdl-navigation__link" routerLink="/mi/fact-mi" *ngIf="roles.mi == 'adm'">Modificación de estudios</a>
    <!-- <a class="mdl-navigation__link" routerLink="/mi/partial-following">Seguimiento parciales</a>
    <a class="mdl-navigation__link" routerLink="/mi/sales-report">Reporte de ventas</a>
     -->
  </nav>
</div>
<div *ngIf="roles.mc">
  <mdl-layout-title class="title">Consultas médicas</mdl-layout-title>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" routerLink="/mc/sales">Ventas</a>
    <a class="mdl-navigation__link" routerLink="/mc/patients">Consulta de pacientes</a>
  </nav>
</div>
<div *ngIf="roles.mi == 'adm' && roles.mc == 'adm'">
  <mdl-layout-title class="title">Administración</mdl-layout-title>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" routerLink="/admin/sales-report">Reportes de ventas</a>
  </nav>
</div>
